.furn{
    display: flex;
    flex-direction: row;
    height: 172.8px;
}
.device{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 1.6rem;
    height: 396px;
}
.controller{
    margin-top: 1.4rem;
    display: flex;
    flex-direction: column;
}
.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto;
}